.container {
  max-width: 1500px;
  padding: 0 1rem;
  text-align: center;
}

.card-container {
  width: 100%;
  padding-top: 1%;
  padding-right: 5%;
  padding-left: 5%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.row-reverse {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.column,
.column-third {
  flex-basis: 100%;
}

.column-new-account {
  flex-basis: calc(100% / 3);
}

.column-forth {
  flex-basis: calc(100% / 4);
}

.column-arrow {
  flex-basis: 10%;
  padding-top: 25%;
}

.column-card {
  order: -1;
  flex-basis: 100%;
}

.dots-row {
  display: flex;
  justify-content: center;
}

.game-card-container {
  padding-top: 5%;
  padding-right: 20%;
  padding-left: 20%;
}

@media screen and (min-width: 768px) {
  .column {
    flex-basis: calc(100% / 2);
  }

  .column-half {
    flex-basis: calc(100% / 2);
  }

  .column-third {
    flex-basis: calc(100% / 3);
  }

  .column-card {
    order: 0;
    flex-basis: 80%;
  }

  .card-container {
    padding-top: 2%;
    padding-right: 30%;
    padding-left: 30%;
  }
}
