body {
  background-color: #48a5a5;
  font-family: "Open Sans", sans-serif, Arial;
}

h1,
h3,
h5,
h6 {
  font-family: "Work Sans", sans-serif, Arial;
}

button,
input {
  font-family: inherit;
}

a,
a:hover {
  color: #02133f;
}

.hidden {
  display: none;
}

.sign-in-button {
  width: 171px;
  height: 50px;
  margin: 1rem 0 1.5rem;
  padding-top: 0.31rem;
  font-size: 20px;
  border-radius: 10px;
  background-color: #c4c4c4;
  border: none;
  cursor: pointer;
}

.sign-up-label {
  padding: 1%;
}

.sign-up-input {
  display: flex;
  text-align: left;
  padding: 3% 0 0 17%;
}

.column-sign-in {
  display: flex;
  justify-content: right;
}

.blue-background-only {
  background-color: #092f8e;
  margin-bottom: 1.25rem;
}

.blue-background {
  display: flex;
  width: 1584px;
  height: 98%;
  background-color: #092f8e;
  margin-bottom: 1.25rem;
}

.small-blue-background {
  display: flex;
  height: 765px;
  background-color: #092f8e;
}

.small-gray-background {
  width: 100%;
  height: 93%;
  background-color: #c4c4c4;
  margin: 1.56rem 0.31rem;
}

.gray-background {
  width: 100%;
  background-color: #c4c4c4;
  margin: 1.56rem;
}

.sign-in-titles {
  margin: 23% 20% 10%;
  text-align: left;
}

.new-account-tittle {
  margin: 5% 0% 3%;
}

.create-account-button {
  padding: 0.31rem;
  width: 200px;
  font-size: 0.75rem;
  background-color: #e5e3e3;
  border-radius: 7px;
  border: none;
  height: 35px;
  cursor: pointer;
}

.container-create-account-button {
  display: flex;
  justify-content: center;
}

.x-mark {
  font-weight: bolder;
  color: #f00;
  margin-right: 0.5rem;
}

.check-mark {
  font-weight: bolder;
  color: #008000;
  margin-right: 0.5rem;
}

.sign-up-error-message {
  height: 10px;
  color: #f00;
  margin: 1% 0% 5%;
}

.sign-up-buttons {
  margin: 3% 0% 2%;
}

.sign-in-error-message {
  padding: 5%;
  color: #f00;
}

.new-account-logo {
  padding: 3% 20% 5%;
}

.new-player-logo {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.home-logo {
  margin: 1rem 0 2.5rem;
}

.home-img-logo {
  width: 100%;
}

.new-account-img-logo {
  width: 75%;
}

.new-player-img-logo {
  width: 35%;
}

.main-menu-img-logo {
  width: 75%;
}

.main-menu-logo {
  display: flex;
  justify-content: center;
  padding-top: 12%;
}

.home-column-title {
  margin: 10% 0%;
}

.new-account-column-title,
.column-title {
  margin-top: 3%;
}

.main-menu-button {
  margin: 10%;
  width: 201px;
  height: 142px;
  border-radius: 10px;
  border: none;
  background-color: #c4c4c4;
  font-size: 1.56rem;
  cursor: pointer;
}

.profile {
  width: 84px;
  height: 76px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font-size: 3.12rem;
  color: #02133f;
}

.profile-container {
  padding: 5% 5% 0;
  display: flex;
  justify-content: right;
}

.profile-menu {
  background-color: #fff;
  padding: 10% 0 10% 5%;
  margin: 0 20% 0 30%;
  text-align: left;
  text-decoration: underline;
}

.menu-option {
  padding: 5% 0;
  cursor: pointer;
}

.overlay {
  z-index: 3;
  position: fixed;
  background-color: #e5e5e5b2;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.pop-up {
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  padding: 0.93rem 0.62rem 0;
  width: 275px;
  height: 170px;
  border-radius: 10px;
  background-color: white;
}

.modal-window {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1055;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal-button-container {
  display: flex;
  justify-content: center;
}

.modal-button {
  width: 120px;
  height: 35px;
  border-radius: 7px;
  background-color: #c4c4c4;
  border: none;
  padding-top: 1%;
  cursor: pointer;
  margin: 2%;
}

.modal-message {
  padding: 5% 0 15%;
  font-size: 0.93rem;
}

.profile-form-button {
  padding: 5%;
}

.profile-error-message {
  color: #f00;
}

.ol-instructions {
  padding-top: 10%;
}

.list-instructions {
  text-align: left;
  padding-right: 7%;
  padding-bottom: 0.31rem;
  font-size: 0.93rem;
}

.instructions-button {
  width: 120px;
  height: 40px;
  border-radius: 7px;
  background-color: #dbdbdb;
  border: none;
  margin: 3%;
  cursor: pointer;
}

.acces-game-logo {
  padding: 12% 20%;
}

.access-game-form-container {
  padding: 15% 0 30% 15%;
}

.access-game-input {
  text-align: left;
  padding-top: 10%;
}

.access-game-title {
  text-align: left;
}

.access-game-button {
  margin-top: 5%;
  text-align: left;
}

.game-menu-logo {
  padding: 5% 0 10%;
}

.game-menu-img-logo {
  width: 80%;
}

.access-game-error-message {
  padding-top: 5%;
  text-align: left;
  color: red;
}

.form-access-game {
  margin: 2%;
}

.access-game-column-half {
  height: 400px;
}

.image-card-container {
  position: relative;
}

.image-card {
  position: relative;
  width: 100%;
}

.card-row {
  background-color: #ffff;
  padding: 3%;
  border-radius: 7px;
}

.direction-icon {
  font-size: 3.12rem;
}

.dots {
  padding: 2%;
}

.fas {
  cursor: pointer;
}

.game-name {
  text-align: left;
  padding: 2% 0 0 2%;
}

.cards-message {
  color: #008000;
}

.game-buttons {
  padding-top: 5%;
}

.card-holder {
  padding: 5% 10% 0;
}

.score-container {
  width: 100%;
  padding: 5% 10% 0;
}

.img-card-holder {
  height: 160px;
}

.players {
  width: 100%;
  height: 200px;
  border-radius: 7px;
  background-color: #e5e3e3;
  font-size: 0.75rem;
}

.small-blue-backgroud-secondary {
  height: 550px;
}

.button-disabled {
  color: #808080;
  cursor: none;
}

.image-mark {
  position: absolute;
  top: 25%;
  left: 25%;
  transition: translate(-25%, -25%);
  font-size: 1.87rem;
}

.five-points-message {
  background-color: #ffee57;
  color: #6c3434;
  margin: 5%;
}

.loteria-modal-message {
  padding: 5% 0 10%;
  color: #008000;
  font-size: 0.93rem;
}

.user-points-green {
  color: #008000;
}

.user-points-gray {
  color: #808080;
}

.message-card {
  height: 10px;
  margin-bottom: 5%;
}

.loading-container {
  contain: content;
}

.loading {
  display: flex;
  justify-content: center;
}

.loading-height {
  align-items: center;
  height: 100%;
  margin: 7%;
}

.loading::after {
  content: "";
  width: 50px;
  height: 50px;
  border: 0.6rem solid #ddd;
  border-top-color: #092f8e;
  border-radius: 50%;
  animation: loading 1s ease infinite;
}

@keyframes loading {
  to {
    transform: rotate(1turn);
  }
}

@media screen and (min-width: 500px) {
  .small-blue-background {
    display: flex;
    height: 800px;
    background-color: #092f8e;
  }
}

@media screen and (min-width: 768px) {
  .ol-instructions {
    padding-top: 3%;
  }

  .home-img-logo {
    width: 75%;
  }

  .main-menu-img-logo {
    width: 85%;
  }

  .new-player-img-logo {
    width: 25%;
  }

  .sign-in-input {
    margin: 5% 20%;
    text-align: left;
  }

  .sign-up-label {
    padding: 3% 10%;
    text-align: right;
  }

  .sign-up-input {
    text-align: left;
    padding-left: 0;
  }

  .blue-background {
    display: flex;
    width: 1584px;
    background-color: #092f8e;
  }

  .create-account-button {
    font-size: 0.93rem;
    width: 250px;
  }

  .pop-up {
    width: 467px;
    height: 214px;
  }

  .game-menu-logo {
    padding-bottom: 2%;
  }

  .game-menu-img-logo {
    width: 30%;
  }

  .access-game-form-container {
    padding-top: 30%;
  }

  .access-game-column-half {
    height: auto;
  }

  .left {
    padding-left: 100%;
  }

  .right {
    padding-right: 100%;
  }

  .card-holder {
    padding-top: 35%;
  }

  .score-container {
    padding-top: 35%;
    padding-left: 5%;
  }

  .img-card-holder {
    width: 85%;
  }

  .image-mark {
    font-size: 3.75rem;
  }

  .loteria-modal-message {
    font-size: 1.68rem;
    padding-bottom: 5%;
  }
}

@media screen and (min-width: 1200px) {
  .img-card-holder {
    width: 100%;
    height: 350px;
  }

  .players {
    height: 350px;
  }
}
